fastapi
uvicorn[standard]
SQLAlchemy==1.4.52
alembic
pydantic
python-multipart
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
psycopg2-binary
requests
google-genai    
mbbank-lib
pydantic[email]